* {
  box-sizing: border-box;
  margin: 0;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h2 {
  /* font-size: 5vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  /* display: none; */
}

.wrapper01 {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.box {
  margin: 10px;
  width: 150px;
  height: 200px;
  border: 1px solid red;
  flex-shrink: 0;
}
